.listed-artist {
  padding: 0.75em;
  border-bottom: 1px solid #F9B5AC;
}

.listed-artist:last-child {
  border-bottom: 0;
}

.artist_name {
  text-align: left;
  margin: 0;
  background-color: inherit;
  border: 0;
  color: #9ab6c4;
  font-weight: bold;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1em;
}
