.favorites-header {
  width: 100%;
  background-color: #FFFFF3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

/* FAVORITES HEADER TEXT CONTAINER */

.favorites-header-text {
  margin-bottom: 0.5em;
}

.favorites-header-text h1 {
  color: #F9B5AC;
  font-family: 'Cabin', sans-serif;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0.15em;
}

.favorites-header-text h2 {
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  color: #B8D4E3;
}

/* FETCH DATA */

.fetch-data {
  display: flex;
  padding: 1em 0;
  text-align: left;
  margin-bottom: 3em;
  flex-direction: column;
}
